.tasks {
  list-decoration: none;
  padding: 0;
}

.task {
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px #a1a1a1 solid;
}

.task:first-of-type {
  border-top: 1px #a1a1a1 solid;
}

.task button {
  margin-bottom: 3px;
  margin-right: 5px;
}

.task .status {
  margin-left: 5px;
  opacity: 0.6;
}

.future-task {
  color: #00a559;
}

.next-task {
  color: #ff9e08;
}

.day-task {
  color: #45a0ff;
}

.past-task {
  color: #cb0b0b;
}
